{%  extends 'AppBundle:Default:template.html.twig'  %}

{%  block title %}

    Footer

{% endblock %}

{% block footer %}

    <img src="/Visuels/PHOTOTHEQUE/bouton dailymotion.jpg" style="width: 100px; height: 100px;"  alt="daylimotion" OnClick="window.location.href='http://dailymotion.com/fr'"/></img>
    <img src="/Visuels/PHOTOTHEQUE/bouton fb.jpg" style="width: 100px; height: 100px;" class="img-rounded"  alt="daylimotion" OnClick="window.location.href='http://dailymotion.com/fr'"/></img>
    <img src="/Visuels/PHOTOTHEQUE/bouton twitter.jpg" style="width: 100px; height: 100px;" class="img-rounded"  alt="daylimotion" OnClick="window.location.href='http://dailymotion.com/fr'"/></img>

    <a href='http://aul.localhost/app_dev.php/footer/link1' style="color: #134E9A;text-decoration: none;">A propos d'ACENSI</a>
    <a href='http://aul.localhost/app_dev.php/footer/link2'style="color: #134E9A;text-decoration: none;">Nous contacter</a>
    <a href='http://aul.localhost/app_dev.php/footer/link3'style="color: #134E9A;text-decoration: none;">Mentions légales</a>

    <img src="/Visuels/LOGOTHEQUE/Logo ADC/Logo ACENSI Dev Cup (Bleu + Blanc).png" style="width: 200px; height: 100px; class="img-rounded"  alt="Logo Acensi"/></img>

{% endblock %}